body{
    font-family:sans-serif;
}
h1{ text-align: center;
    border-style: inset;
    margin: 50 px;
}
.github{
margin:15px 75px;
}
.github img{
width: 260px;
padding: 35px;
height: 150px;
filter: grayscale(100%);
transition: 1s;
}
.github img:hover{
     filter: grayscale(0);
transform: scale(1.3);
}